.blogbar {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75px;
  align-items: center;
  border-bottom: solid;
  text-decoration: none;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.home-button {
  background-color: #c1272d;
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 3%;
  padding: 7px 7px;
  color: white;
  content: "< Home"
}

.blogbar-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogbar-wrap{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.blog-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 75px;

}
.blog-sec-content {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.blog-sec-content .title {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em;
}

.blog-sec-content .title h1{
  margin-bottom: 10px;
  color: #c1272d;
}

.blog-sec-content .abstract {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #23b38a;
}

.blog-sec-content h2 {
  margin-bottom: 0.5em;
  color: #c1272d;
}

.body-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
}







@media screen and (max-width: 594.6px) {

  .blog-sec-content {
    width: 90%;
  }
  .blogbar h2 {
    display: none;

  }
  .home-button {
    content: "<";
  }



}
