
.row{
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
}

.column {
    float: left;
    width: 33.333%
}

@media only screen {
    .small-1 {
        width: 8.333%;
    }
    .small-2 {
        width: 16.666%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.333%;
    }
    .small-5 {
        width: 41.666%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.333%;
    }
    .small-8 {
        width: 66.666%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.333%;
    }
    .small-11 {
        width: 91.666%;
    }
    .small-12 {
        width: 100%;
    }
    .small-hidden {
        display: none;
    }
    .large-hidden {
        display: block;
    }
}


@media only screen and (min-width: 45.063em) {
    .medium-1 {
        width: 8.333%;
    }
    .medium-2 {
        width: 16.666%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-4 {
        width: 33.333%;
    }
    .medium-5 {
        width: 41.666%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-7 {
        width: 58.333%;
    }
    .medium-8 {
        width: 66.666%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-10 {
        width: 83.333%;
    }
    .medium-11 {
        width: 91.666%;
    }
    .medium-12 {
        width: 100%;
    }
    /* for now, the hidden features on medium is the same as on large, as it is only to be used with the navbar, which is to be the same on large and medium */
    .small-hidden {
        display: block;
    }
    .large-hidden{
        display: none;
    }
    
}

@media screen and (min-width: 65.063em) {
    .large-1 {
        width: 8.333%;
    }
    .large-2 {
        width: 16.666%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.333%;
    }
    .large-5 {
        width: 41.666%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.333%;
    }
    .large-8 {
        width: 66.666%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.333%;
    }
    .large-11 {
        width: 91.666%;
    }
    .large-12 {
        width: 100%;
    }
    .small-hidden {
        display: block;
    }
    .large-hidden{
        display: none;
    }
}

