* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.navsmall {
  display: none;
}

.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
    position: fixed;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 5px;
    font-size: 1.5rem;
}

@media screen and (max-width: 650.6px) {
  li a:hover {
      background-color: blue;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
      width:60%;
      float: right;
      margin-top: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-style: solid;
      border-top-style: none;
      border-right-style: none;

  }

  .navbar, .navbar a {
    display: none;
  }

  .navsmall {
    display: block;
    width: 100%;
    border-bottom: solid;
    padding-bottom: 30px;
  }

  .navsmall img {
    float:right;
    position: relative;
    top: -52px;
    right: 32px;

  }
  .burger {
    margin-left: 32px;
    margin-top: 34px;
  }

  .navline {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }


}
