* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  overflow: hidden;
  top: 25px;
  right: 29px;
  width: 60%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px;
  position: relative;
  float: right;
  min-width: 500px;
  margin-bottom: -90px;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 5px;
  font-size: 1.5rem;
}
.navbar a{
  color: #c1272d;
}



.navbar a:hover {
  background-color: #eaeaea;
  border-radius: 20px;
}

.offnav {
  height: 100%;
  /* height of the off screen navbar */
  width: 0;
  /* change this with js */
  position: fixed;
  /* woah navbar, stay put lad */
  z-index: 1000;
  /* stay on top */
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  /* take half a second to slide */
}

.offnav a {
  padding: 8px, 8px, 8px, 50px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-left: 25px;
  padding-top: 10px;
}

.offnav a:hover, .offcancas a:focus {
  color: #f1f1f1/* change colour on hover */
}

.offnav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 5px;
}

.navbutton {
  display: none;
  background-color: #c1272d;
  border: none;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 25px;
  margin-top: 22px;
  float: left;
  z-index: 1;
  position: static;
}
section {
  width: 100%;
  height: 100%;
}
section:first-of-type {
  display: flex;
  justify-content: center;
}

.home-sec {
  width: 100%;
  background-color: white;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  color: black;
  padding-bottom: 100px;
  padding-top: 100px;
}

.home-sec-content {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center ;
}

.flex-column {
  display: flex;
  position: relative;
  flex-direction:column;
  flex: 1 0 auto;
  padding: 20px;
  align-items: flex-start;
}
.flex-column:first-of-type {
  align-items: flex-end;
}




h1:first-of-type {
  font-size: 4rem;
  position: relative;
  animation-name: headerswoosh;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-timing-function:linear;
}

.logolarge {
  position: relative;
  animation-name: headerswoosh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function:linear;
}

h2:first-of-type {
  font-size: 2rem;
  position: relative;
  animation-name: headerswoosh;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-timing-function:linear;
}

.home-sec button {
  padding: 10px;
  background-color: black;
  color: white;
  margin-top: 10px;
  border-style: none;
  font-size: 1.3rem;
  animation-name: headerswoosh;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  position: relative;
}

.home-sec button:hover {
  cursor: pointer;
}


@keyframes headerswoosh {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}
@keyframes headerrightswoosh {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}

.about-sec {
  background-color: #23b38a;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
}

.about-sec-content {
  width: 70%;
  height: 90%;
}

.hamburger {
  display: none;
  width: 23px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top:15px;
  z-index: 0;
}

.smallnavlogo {
  display: none;
}

@media screen and (max-width: 911px) {

  .flex-column {
    display: flex;
    position: relative;
    flex-direction:column;
    flex: 1 0 0px;
    padding: 10px 0px 0px 0px;
    align-items: center;
  }
  .flex-column:first-of-type {
    align-items: center;
  }

}

@media screen and (max-width: 542.6px) {

  h1:first-of-type {
    font-size: 3rem;
  }
  li a:hover {
    background-color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 60%;
    float: right;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
  }
  .navbar, .navbar a {
    display: none;
  }
  .hamburger {
    display: block
  }
  .smallnavlogo {
    display: block;

  }
  .logolarge {
    display: none;
  }
  .navbutton {
    display: block;
    position:absolute;
    z-index: 1;
  }
  .navline {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .home-sec {
    padding-bottom: 10px;
  }
}
