* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  min-width: 320px;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  overflow: hidden;
  top: 25px;
  right: 29px;
  width: 60%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px;
  position: relative;
  float: right;
  min-width: 500px;
  margin-bottom: -90px;
  opacity: 0;
  animation-name: navbar-opacity;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 5px;
  font-size: 1.5rem;
}

.navbar a {
  color: #c1272d;
}

.navbar a:hover {
  background-color: #eaeaea;
  border-radius: 20px;
}

.offnav {
  height: 100%;
  /* height of the off screen navbar */
  width: 0;
  /* change this with js */
  position: fixed;
  /* woah navbar, stay put lad */
  z-index: 1000;
  /* stay on top */
  top: 0;
  left: 0;
  background-color: #c1272d;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  /* take half a second to slide */
}

.offnav a {
  padding: 8px, 8px, 8px, 50px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  margin-left: 25px;
  padding-top: 10px;
  cursor: pointer;
}

.offnav a:hover, .offcancas a:focus {
  color: #f1f1f1/* change colour on hover */
}

.offnav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 5px;
  cursor: pointer;
}

.navbutton {
  display: none;
  background-color: #c1272d;
  border: none;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 25px;
  margin-top: 22px;
  float: left;
  z-index: 2;
  position: fixed;
}

.flex-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 80px;
  background-color: white;
  display: none;
}

.flex-wrapper img {
  position: relative;
  bottom: 2px;
}

section {
  width: 100%;
  height: 100%;
}

#arrow {
  display: none;
}

.home-sec {
  width: 100%;
  background-color: white;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.home-sec-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.homepic {
  box-shadow: 5px 5px #c1272d;
  width: 400px;
  height: 400px;
  position: relative;
  animation-name: headerrightswoosh;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.flex-column {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 20px;
  align-items: flex-start;
}

.flex-column:first-of-type {
  align-items: flex-end;
  position: relative;
  animation-name: headerswoosh;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

h1:first-of-type {
  font-size: 4rem;
}

.logolarge {
  width: 405px;
}

@keyframes headerswoosh {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

@keyframes headerrightswoosh {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}

@keyframes navbar-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-sec {
  background-color: #23b38a;
  z-index: -1;
  display: flex;
  position: inherit;
  padding: 3% 0% 3% 0%;
  justify-content: center;
}

.sec-content {
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.title {
  display: flex;
  width: 100%;
  padding: 0% 0% 2% 0%;
}

.title h1 {
  font-size: 3rem;
}

.skills-title h2 {
  margin-top: 40px;
}

.about-card-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 5px;
}

.about-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 28%;
  background-color: #28acd7;
  box-shadow: 5px 5px black;
  padding: 0.5em;
}

.about-card a {
  color: black;
}

.about-card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  height: 100%;
}

.about-card-content p {
  flex: 1 0 auto;
}

.about-card h2 {
  padding: 0px 0px 10px 10px;
}

.skills-title {
  display: flex;
  width: 100%;
  padding: 0% 0% 5% 0%;
  background-color: #37B18C;
}

.skills-card-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -20px;
}

.skills-card {
  display: flex;
  justify-content: flex-start;
  margin: 0.8rem;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  box-shadow: 3.5px 3.5px black;
  padding: 10px;
  flex-shrink: 1;
}

.portfolio-sec {
  background-color: #c1272d;
  color: white;
  z-index: -1;
  display: flex;
  position: inherit;
  padding: 3% 0% 3% 0%;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-sec a {
  color: #ffff02;
}

.portfolio-entry-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.portfilio-entry {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  color: white;
  background-color: #d84146;
  border-style: solid;
  border-color: #ffff02;
  border-width: 0.15px;
  width: 30%;
  min-width: 302px;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfilio-entry img {
  height: auto;
  width: auto;
}

.portfolio-entry-large {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.portfolio-entry-img {
  display: flex;
  width: 100%;
  background-color: white;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.portfolio-entry-img h2 {
  font-size: 4em;
  color: #c1272d;
}

.portfilio-entry button {
  padding: 10px;
  margin-top: 20px;
  background-color: #ffff02;
  color: black;
  border-style: none;
  font-size: 1rem;
  cursor: pointer;
}

.portfilio-entry-wrap h2 {
  color: #ffff02;
}

.portfilio-entry button:hover {
  background-color: #e6e600;
}

.hamburger {
  display: none;
  width: 23px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}

.smallnavlogo {
  display: none;
}

.contact-sec {
  background-color: white;
  color: black;
  z-index: -1;
  display: flex;
  position: inherit;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-sec .sec-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-item {
  display: flex;
  background-color: white;
  padding: 2em;
  flex-direction: column;
  flex-grow: 1;
}

.content-item h2 {
  margin-bottom: 10px;
}

.content-item p {
  margin-bottom: 4px;
}

.content-item a {
  color: #c1272d;
}

.social-media-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.social-media-wrap p {
  margin-left: 15px;
}

@media screen and (max-width: 1253px) {
  .portfilio-entry {
    width: 45%;
  }
}

@media screen and (max-width: 1100px) {
  .about-flex-column {
    flex: 1 1 100%;
  }
  .about-card {
    width: 85%;
    height: auto;
    margin: 0.8em;
  }
}

@media screen and (max-width: 911px) {
  .flex-column {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 0 0px;
    padding: 10px 0px 0px 0px;
    align-items: center;
  }
  .flex-column:first-of-type {
    align-items: center;
  }
  .logolarge {
    width: 405px;
  }
  .navbar {
    width: 100%;
    right: 0px;
  }
  .portfilio-entry {
    width: 90%;
  }
  .portfolio-entry-large {
    width: 100%;
    display: flex;
    padding: 1em;
  }
  .portfolio-entry-img {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 542.6px) {
  h1:first-of-type {
    font-size: 3rem;
  }
  li a:hover {
    background-color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 60%;
    float: right;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
  }
  .navbar, .navbar a {
    display: none;
  }
  .hamburger {
    display: block
  }
  .smallnavlogo {
    display: block;
  }
  .logolarge {
    display: none;
  }
  .navbutton {
    display: block;
    position: fixed;
    z-index: 2;
  }
  .navline {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .home-sec {
    padding-bottom: 10px;
  }
  .homepic {
    box-shadow: 0px 0px #c1272d;
    width: 320px;
    height: 320px;
  }
  .flex-column:first-of-type {
    flex: 5 0 auto;
  }
  .skills-title {
    display: flex;
    background-color: white;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 23px;
    justify-content: space-between;
    transition: 0.6s;
  }
  .skills-title h2 {
    margin: 0px;
  }
  .skills-card-wrap {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-out;
  }
  .skills-card {
    width: 80%;
    box-shadow: 0px 0px black;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills-card:nth-child(even) {
    border-right: solid;
    border-bottom: solid;
    border-color: #37B18C;
  }
  .skills-card:nth-child(odd) {
    border-left: solid;
    border-bottom: solid;
    border-color: #37B18C;
  }
  .about-card {
    width: 95%;
    height: auto;
  }
  .portfilio-entry p {
    display: none;
  }
  .flex-wrapper {
    display: flex;
    z-index: 1;
  }
  .about-sec .sec-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-sec .sec-content .about-card-wrap {
    width: 80%;
  }
  .about-sec .sec-content .skills-sec {
    width: 100%;
  }
  .about-sec .sec-content .title {
    width: 100%;
  }
  #arrow {
    display: block;
    cursor: pointer;
    transform: scale(2, 1) rotate(180deg);
    transition: 0.6s;
  }
  #arrow:hover {
    color: #37B18C;
    transition: 0.2s;
  }
}

.inactive-banner {
  position: fixed;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: red;
  z-index: 100;
  display: inline;
  text-align: center;
  top: 0;
  left: 0;
  box-sizing: border-box;

  
}

.inactive-banner a {
  display: inline;
  color: #FFF;
}

@media screen and (max-width: 542.6px) {
  .inactive-banner {
    top: 80px;
  }

  .home-sec {
    padding-top: 150px;
  }
}
